body{
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

header{
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #e7e9fc;
  display: block;
  position: relative;
  width: 1440px;
  height: 72px;
  background-color: #ffffff;

}

.logo{
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5 ;
  text-decoration: none;
  position: relative;
  display: flex;
  width: 115px;
  height: 24px;
  top: 24px;
  left: 156px;

}

.logo span{
color: #2E2F42;
}

header ul {
  position: absolute;
  display: flex;
  width: 261px;
  height: 24px;
  gap: 40px;
  top: 4px;
  left: 347px;
  padding: 0%;
}

header ul li .nav-list{
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2E2F42;
  text-decoration: none;

}

ul li .nav-list:hover{
  color: #404bbf;
}

ul li .nav-list:focus{
  color: #404bbf;
}

header .informations{
  position: relative;
font-style: normal;
top: -10px;
}

header .informations ul{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  top: 0px;
  width: 500px;
  height: 24px;
  left: 940px;
  gap: 200px;
}

header .informations ul li .info {
  position: absolute;
  display: flex;
  
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  
}

header address ul li .info:hover{
  color: #404bbf;
}

header address ul li .info:focus{
  color: #404bbf;
}



.section-one {
  border: 1px solid #ffffff;
  background-color: #2E2F42;
  display: block;
  position: absolute;
  width: 1440px;
  height: 600px;
  top: 72px;
  left: 0px;
  margin: 0%;
  padding: 0%;
}

.section-one .motto {
  margin: 0%;
  padding: 0%;
  background-color: #2e2f42;
  position: relative;
  display: flex;
  width: 502px;
  height: 120px;
  top: 188px;
  left: 472px;
  overflow: hidden;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.section-one .button {
  margin: 0%;
  display: flex;
  position: relative;
  width: 180px;
  height: 56px;
  top: 232px;
  margin-left: 636px;
  border-radius: 4px;
  padding: 16px 32px 16px 32px;
  gap: 10px;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.section-one .button:hover {
  cursor: pointer;
  background-color: #404bbf;
}

.section-one .button:focus{
  cursor: pointer;
  background-color: #404bbf;
}

ul {
  list-style-type: none;
}

.section-two .features{
  position: absolute;
  display: flex;
  gap: 24px;
  padding: 0%;
  margin: 0%;
  width: 1128px;
  height: 104px;
  top: 792px;
  left: 156px;
}

.section-two .features li .feature-h {
  border: 1px solid #ffffff;
  display: block;
  position: relative;
  left: -41px;
  top: -22px;
  width: 264px;
  height: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
}
.section-two .features li .feature-p {
  border: 1px solid #ffffff;
  display: block;
  position: relative;
  left: -41px;
  top: -34px;
  width: 270px;
  height: 72px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-three {
  border: 1px solid #f4f4fd;
  position: absolute;
  display: block;
  width: 1440px;
  height: 732px;
  top: 1016px;
  background-color: #f4f4fd;
}

.section-three .section-three-h {
  border: 1px solid #f4f4fd;
  position: relative;
  display: flex;
  width: 180px;
  height: 40px;
  margin-top: 122px;
  left: 639px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  background-color: #f4f4fd;
}

.section-three .teamcards{
  display: flex;
  position: relative;
  left: 88px ;
  gap:24px ;
  padding: 0%;
  margin: 0%;
}

.section-three .teamcards .teamcards-li{
border: 1px solid #f4f4fd;
  position: relative;
  width: 266px;
  height: 360px;
  top: 49px;
  left: 65px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-bottom: 32px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px #2e2f42;

}


.section-three .teamcards .teamcards-li .teamcards-h {
  border: 1px solid #ffffff;
  position: relative;
  top: 15px;
  width: 264px;
  height: 24px;
  gap: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin: 0px;
}

.section-three .teamcards .teamcards-li .teamcards-p {
  border: 1px solid #ffffff;
  position: relative;
  top: 25px;
  width: 264px;
  height: 24px;
  gap: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin: 0px;
}

.section-four {
  position: relative;
  width: 1180px;
  height: 1000px;
  top: 1868px;
  left: 156px;
  
}

.section-four .section-four-h {
  border: 1px solid #ffffff;
  display: block;
  position: relative;
  width: 230px;
  height: 40px;
  top: -21px;
  left: 459px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.section-four ul  {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  gap:24px ;
 
}
.section-four ul li {
  border: 1px solid #e7e9fc;
  position: relative;
  width: 362px;
  height: 420px;
  top: -17px;
  left: -41px;
}

.section-four ul li .projectcards-h {
  border: 1px solid #ffffff;
  display: block;
  position: relative;
  width: 200px;
  height: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing:0.02em ;
  color: #2e2f42;
  text-indent: 12px;
}

.section-four ul li .projectcards-p {
  border: 1px solid #ffffff;
  display: block;
  position: relative;
  width: 30px;
  height: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing:0.02em ;
  color: #434455;
  text-indent: 12px;
}

.section-last{
  margin: 0%;
  padding: 0%;
  border: 1px solid #2E2F42;
  position: absolute;
  width: 1440px;
  height: 312px;
  top: 2988px;
  background-color: #2e2f42;
}

.section-last .logo{
  margin: 0%;
  padding: 0%;
  position: relative;
  display: flex;
  font-family: Raleway, sans-serif;
  width: 115px;
  height: 24px;
  left: 156px;
  top: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5 ;
  text-decoration: none;
}

.section-last .logo-studio{
  color: #2E2F42;
  color: #F4F4FD;

}


.section-last .footer-p {
  margin: 0%;
  padding: 0%;
  border: 1px solid #2e2f42;
  display: flex;
  position: relative;
  overflow: hidden;
  width: 264px;
  height: 72px;
  top: 110px;
  left: 156px;
  color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}
